@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "Roboto", sans-serif;
  color: white;
}

.font {
  font-size: 2rem;
}

.navbar a {
  color: white !important;
}

.nav-item {
  margin-right: 2rem;
}

.icon {
  margin-bottom: -4px;
}

.dropdown-item {
  position: fixed;
}

.textEffect {
  font-size: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 100 !important;
}
